# Application
APP_NAME="DishaSetu API"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000
LOG_LEVEL=DEBUG

# Database
DATABASE_URL=

# Security
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Groq
GROQ_API_KEY=
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3
GROQ_ANALYSIS_MODEL=llama-3.1-8b-instant